/*
Extra Addition
*/

input.user-img{
    background: #ffffff url(../images/FormImages/user.png) 20px 50% no-repeat !important;
}
input.phone-img{
    background: #ffffff url(../images/FormImages/phone-call.png) 20px 50% no-repeat !important;

}
input.city-img{
    background: #ffffff url(../images/FormImages/city.png) 20px 50% no-repeat !important;
}


.form-control{
  background-color: #ffffff;
  color: #333;
  line-height: 3rem !important;           /*it will decide height */
  height: auto;  
  padding: 0.6rem 1.2rem;
  transition: border-color 0.25s ease 0s;

  border-radius: 6px;
  border: 1px solid transparent !important;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px; 
  /*box-shadow: rgba(33, 189, 212, 0.5) 0px 1px 1px 0px, rgba(33, 189, 212, 0.07) 0px 1px 3px 0px, rgba(33, 189, 212, 0.03) 0px 0px 0px 1px;*/





  text-indent : 50px;                     /* Custom Add */


}